
/ShopManagenment.EFCore/Migrations
/UserManagenet.EFCore/Migrations
.vs/CRUD T1/FileContentIndex/00bf6e8c-c148-4308-8689-7ab4800141ab.vsidx
.vs/CRUD T1/FileContentIndex/4dcf2e0a-7ecb-4dea-814a-fc8c0ca10cb0.vsidx
.vs/CRUD T1/FileContentIndex/677ec0cf-7ac5-4944-8456-b9809222bfe9.vsidx
.vs/CRUD T1/FileContentIndex/6e2394e3-a0c3-4024-8fed-6e5e5e24fd57.vsidx
.vs/CRUD T1/FileContentIndex/891742f4-589f-419c-b988-775e00f16dfd.vsidx
.vs/CRUD T1/FileContentIndex/d94e2bcd-cc70-4505-81c8-e879b0ffe1ea.vsidx
